.blog-posts {
  h2 a {
   text-decoration: none;
  }
  h3 {
    margin: 12px 0;
    // letter-spacing: 0.05em;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  .blog-post-preview:not(:last-of-type) {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.blog-image-container {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}

.blog-post-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.blog-post {
  p {
    line-height: 1.67;
    margin-bottom: 30px;
  }
  ol {
    list-style: initial;
    margin: 0 0 0 30px;
    padding: 0;
    li {
      margin-bottom: 24px;
      line-height: 1.67;
    }
  }
}